body
  font-family: "Geometria";
  color: white;
  background-color: black;
  width: 100%;

html
  width: 100%;;

.container
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  width: 90%;

// //resolutions
// $tablets: 768px;
// $phones: 320px;

// @mixin tablets {
//   @media screen and (max-width: $tablets) {
//     @content;
//   }
// }

// @mixin phones {
//   @media screen and (max-width: $phones) {
//     @content;
//   }
// } 1240
