* {
    padding: 0;
    margin: 0;
    border: 0;
    transition: all 0.3s;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

*:before,
*:after {
    display block
    position absolute
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1;
    font-size: 16px;
    font-family: mfont;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-display: swap;
    color dg
}

input,
button,
textarea {
    font-family: mfont;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

ul, ol {
    list-style: none;
}
